@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

$greyColor: rgb(202, 202, 202);
$redColorBase: rgb(65, 18, 18);
$baseFg: black;
$baseBg: rgb(90, 24, 24);
$accentFg: rgb(206, 94, 94);
$accentBg: rgb(73, 3, 3);

:root {
  font-family: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.bigContainer {
  background-color: $greyColor;
  background-image: url(../img/coronaVirusimg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  color: $accentFg;
  display: flex;
  justify-content: center;
  height: 85vh;

  .container {
    background-color: $redColorBase;
    border: black 3px solid;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    min-height: 35rem;
    min-width: 20rem;
    max-height: 40rem;
    overflow: hidden;
    h1,
    h3 {
      margin: 1rem;
    }
  }
}

.footer,
.header {
  background-color: $redColorBase;
  min-height: 7.5vh;
}
.header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: bold;
  }
  .navbar {
    input {
      display: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      font-size: 1.3rem;
      li {
        margin-right: 2rem;
      }
    }
  }
  a {
    text-decoration: none;
    color: $accentFg;
  }
}

.footer {
  .helpers {
    text-align: right;
    position: relative;
    top: 1.5rem;
    margin-right: 1rem;
    color: $accentFg;
    a {
      color: $accentFg;
    }
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 12px;
  }

  .bigContainer {
    flex-direction: column;
    background-size: 160vh;
    .container {
      justify-content: space-evenly;
      min-height: 15rem;
      max-height: 30vh;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 2rem;
      overflow: scroll;
    }
  }
  .footer {
    .helpers {
      top: 2rem;
    }
  }

  .header {
    .logo {
      position: relative;
      font-size: 2rem;
      z-index: 2;
    }
    .navbar {
      input {
        position: relative;
        top: 15px;
        right: 5px;
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }
      span {
        position: relative;
        top: -13px;
        right: 5px;
        display: block;
        width: 3rem;
        height: 0.3rem;
        margin-bottom: 6px;
        margin-right: 6px;
        border-radius: 3px;
        background: $accentFg;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }
      span:first-child {
        transform-origin: 0% 0%;
      }
      span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $accentFg;
      }

      input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 50px;
        padding-top: 50px;
        background: $redColorBase;
        transform-origin: 0% 0%;
        transform: translate(0, -100%);
        transition: all 0.4s ease-in;
        z-index: 0;
        opacity: 0;
        border-bottom: $accentFg 3px solid;
      }
      input:checked ~ ul {
        transform: translate(0, 0);
        opacity: 1;
      }

      ul {
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 70%;
        li {
          font-size: 2rem;
          text-align: center;
          margin-right: 0.3rem;
          border-bottom: $accentFg 3px solid;
        }
        a {
          color: $accentFg;
          padding: 0 10rem;
        }
      }
    }
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
  color: $accentFg;
  border: 1px solid $baseFg;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 2px;
  background-color: $baseBg;
  background-image: linear-gradient($baseFg, $baseFg),
    linear-gradient(-135deg, transparent 50%, $accentBg 50%),
    linear-gradient(-225deg, transparent 50%, $accentBg 50%),
    linear-gradient($accentBg 42%, $accentFg 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom,
    right bottom;
  width: 200px;
}

select:hover {
  background-image: linear-gradient ($accentFg, $accentFg),
    linear-gradient(-135deg, transparent 50%, $accentFg 50%),
    linear-gradient(-225deg, transparent 50%, $accentFg 50%),
    linear-gradient($accentFg 42%, $accentBg 42%);
}

select:active {
  background-image: linear-gradient($accentFg, $accentFg),
    linear-gradient(-135deg, transparent 50%, $accentFg 50%),
    linear-gradient(-225deg, transparent 50%, $accentFg 50%),
    linear-gradient($accentFg 42%, $accentBg 42%);
  color: $accentBg;
  border-color: $accentFg;
  background-color: $accentFg;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  min-height: 85vh;
  background-image: linear-gradient(rgb(167, 73, 73), $redColorBase);
  .Advice {
    margin-top: 2rem;
    background-color: $redColorBase;
    border: 4px black solid;
    border-radius: 10px;
    text-align: center;
    color: $accentFg;
    width: 90%;
    height: 40vh;
    max-height: auto;
    overflow: scroll;
    h2,
    h3,
    p {
      margin: 0.5rem 1rem;
    }
  }
}

.title {
  grid-column: span 3;
  position: static;
  text-align: center;
  color: $redColorBase;
  width: 80%;
  margin: 0;
  margin-top: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    .Advice {
      margin-top: 3rem;
      height: 40vh;
      overflow: scroll;
    }
  }
  .title {
    grid-column: 1;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $redColorBase;
}
