* {
  margin: 0;
  padding: 0;
}

.bigContainer {
  background-color: grey;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  .container {
    border: black 3px solid;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    height: 40rem;
    width: 30rem;
    h1,
    h3 {
      margin: 1rem;
    }
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 10px;
  }
  .bigContainer {
    flex-direction: column;
  }
}
